.games {
  text-align: center;
  color: white;
  background-image: url("../../images/fondo-pasto.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
  /* height: 20em; */
}
.col-subtitle{
  background-color: #808080;
  text-align: left;
}
.col-subtitle2{
  /* background-color: #808080; */
  text-align: left;
}