.jumbo{
  /* background-color: aqua !important; */
  text-align: center;
  color: white;
  background-image: url("../../images/VenadosFC_imagenweb-02.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 25em;
}
.jumbotron {
    border-radius: 0 !important;
    margin-bottom: 0rem !important;
}
.cstm-cont {
  padding-right: 0px !important;
  padding-left: 0px !important;
}