body {
  background: #ECF1EC !important;
  color: #444 !important;
  font-family: "Open Sans", sans-serif !important;
}


a {
  color: #fff !important;
  transition: 0.5s !important;
}

a:hover,
a:active,
a:focus {
  color: #f7e1ad !important;
  outline: none !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800 !important;
  /* margin: 0 0 20px 0; */
  margin-bottom: .5rem !important;
  margin-top: .5rem !important;
  /* margin-right: 1rem !important;
  margin-left: 1rem !important; */
  padding: 0;
  
}